@page {
    margin: 0.75in;
    padding: 0.75in;
}

html {
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font: 400 10pt/14pt 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

h1 {
    break-after: avoid;
    font: 400 24pt/24pt 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    border-bottom: 1px solid #000;
    break-after: avoid;
    font: 400 16pt/16pt 'Roboto Condensed', sans-serif;
    margin: 20pt 0 20pt;
    padding: 0 0 3pt;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    break-after: avoid;
    font: 700 12pt/12pt 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    padding: 0;
}

section + section {
    margin-top: 18pt;
}

.icon {
    border: none;
    height: 12pt;
    line-height: 12pt;
    width: 12pt;
}

header {
    align-content: center;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-auto-columns: minmax(min-content, max-content);
    justify-content: space-between;
}

#name {
    font-size: 36pt;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    line-height: 32pt;
    padding-right: 20pt;
    padding-top: 8pt;
    text-align: left;
    text-transform: uppercase;
}

#contact {
    align-content: center;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-right: 20pt;
    padding-top: 2pt;
}

#contact dl {
    column-gap: 4pt;
    display: grid;
    font-size: 10pt;
    grid-template-columns: 12pt minmax(min-content, max-content);
    justify-content: left;
    line-height: 10pt;
    margin: 0 auto;
    padding: 0;
    row-gap: 2pt;
    white-space: nowrap;
}

#contact dt {
    display: block;
    margin: 0;
    padding: 0;
}

#contact dd {
    display: block;
    margin: 0;
    padding: 0;
}

#contact address {
    font-style: normal;
}

.experience-list {
    margin: 0;
    padding: 0;
}

.experience-list > li {
    break-inside: avoid;
    column-gap: 0;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-auto-columns: minmax(min-content, max-content);
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    row-gap: 0;
}

.experience-list > li + li {
    margin-top: 20pt;
}

.experience-list .employer {
    font-size: 12pt;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    line-height: 14pt;
}

.experience-list .title {
    font: italic 400 10pt/12pt 'Roboto Condensed', sans-serif;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    white-space: nowrap;
}

.experience-list .period {
    font: 400 10pt/12pt 'Roboto Condensed', sans-serif;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: right;
    white-space: nowrap;
}

.experience-list .location {
    font: 400 10pt/12pt 'Roboto Condensed', sans-serif;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    text-align: right;
    white-space: nowrap;
}

.experience-list .description {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    padding-top: 6pt;
    text-align: left;
}

.experience-list .description p {
    margin: 6pt 0 0;
    padding: 0;
}

.experience-list .description p:first-child {
    margin-top: 0;
}

.experience-list .description ul {
    margin-left: 0;
    padding-left: 16pt;
}

.experience-list .description li {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

#bottom {
    break-inside: avoid;
    column-gap: 32pt;
    display: grid;
    grid-auto-columns: 3fr 2fr;
    justify-content: space-between;
}

#skills {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
    padding: 0;
}

#skills ul {
    margin: 0;
    padding: 0;
}

#skills li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#skills li::after {
    content: ', ';
}

#skills li:last-child::after {
    content: none;
}

#skills h3 {
    margin: 1rem 0;
    padding: 0;
}

#development-skills {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#infrastructure-skills {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#personal-skills {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#education {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
}

.school-name {
    margin: 0 0 6pt;
    padding: 0;
    text-align: center;
}

.school-description {

}
