html {
    font-size: 62.5%;
}

body {
    background-color: #fdf6e3;
    color: #073642;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin: 0;
    padding: 1.5rem;
    text-rendering: optimizeLegibility;
}

a:link,
a:visited {
    color: #268bd2;
    text-decoration: none;
}

a:hover {
    color: #cb4b16;
    text-decoration: underline;
}

a:active {
    color: #b58900;
    text-decoration: underline;
}

h1,
h2 {
    font-family: 'DIN Pro Condensed', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
    font-family: 'DIN Pro Condensed', sans-serif;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 2.4rem;
}

section {
    margin: 0;
    padding: 0;
}

section.box {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0.125rem 0.125rem 0.75rem 1px #93a1a1;
    margin-top: 2rem;
    padding: 2.5rem;
    position: relative;
}

section.box h2 {
    background-color: #268bd2;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: #fff;
    font-family: 'DIN Pro Condensed', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.6rem;
    margin: -2.5rem -2.5rem 2.5rem;
    padding: 0.5rem 2.5rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.icon {
    border: none;
    height: 2.4rem;
    line-height: 2.4rem;
    width: 2.4rem;
}

header {}

#name {
    font-size: 8rem;
    line-height: 8rem;
    margin: 0 auto 2.5rem;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

#contact {
    font-family: 'DIN Pro Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

#contact dl {
    column-gap: 0.8rem;
    display: grid;
    font-size: 2.4rem;
    grid-template-columns: 2.4rem minmax(min-content, max-content);
    justify-content: center;
    line-height: 2.4rem;
    margin: 0 auto;
    padding: 0;
    position: relative;
    row-gap: 0.5rem;
    white-space: nowrap;
}

#contact dt {
    margin: 0;
    padding: 0;
}

#contact dd {
    margin: 0;
    padding: 0;
}

#contact address {
    font-style: normal;
}

#download {
    font-family: 'DIN Pro Condensed', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    margin: 2rem 0 2.4rem;
    text-align: center;
    text-transform: uppercase;
}

.experience h3 {
    font-family: 'DIN Pro Condensed', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    line-height: 2.8rem;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.experience-list {
    margin: 0;
    padding: 0;
}

.experience-list > li {
    column-gap: 0;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-auto-columns: minmax(min-content, max-content);
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    row-gap: 0;
}

.experience-list > li + li {
    margin-top: 4rem;
}

.experience-list .employer {}

.experience-list .title {
    font-family: 'DIN Pro Condensed', sans-serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    line-height: 2.8rem;
    padding-top: 0.75rem;
    white-space: nowrap;
}

.experience-list .period {
    font-family: 'DIN Pro Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    line-height: 2.8rem;
    text-align: right;
    white-space: nowrap;
}

.experience-list .location {
    font-family: 'DIN Pro Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    line-height: 2.8rem;
    padding-top: 0.75rem;
    text-align: right;
    white-space: nowrap;
}

.experience-list .description {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    padding-top: 1rem;
}

.experience-list .description p {
    margin: 0;
    padding: 0;
}

.experience-list .description p+p,
.experience-list .description p+ul {
    margin-top: 1rem;
}

.experience-list .description ul {
    margin-left: 0;
    padding-left: 2rem;
}

.experience-list .description li {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

#skills ul {
    margin: 0;
    padding: 0;
}

#skills li {
    display: inline;
    margin: 0;
    padding: 0;
}

#skills li::after {
    content: '; ';
}

#skills li:last-child::after {
    content: none;
}

#skills ul ul {
    display: inline;
}

#skills ul ul::after {
    content: ')';
}

#skills ul ul::before {
    content: '(';
}

#skills h3 {
    font-family: 'DIN Pro Condensed', sans-serif;
    font-weight: 700;
    margin: 1rem 0;
    padding: 0;
    text-align: center;
}

.school-name {
    margin: 0 0 1rem;
    padding: 0;
    text-align: center;
}

.school-graduated,
.school-gpa {
    text-align: center;
}


/**
 * Responsive Styles
 */

@media (min-width: 768px) {
    body {
        margin: 1rem auto;
        max-width: 84rem;
    }

    header {
        display: grid;
        grid-auto-rows: minmax(min-content, max-content);
        grid-auto-columns: minmax(min-content, max-content);
        justify-content: space-between;
    }

    #name {
        font-size: 6rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        line-height: 6rem;
        margin: 0;
        padding: 0;
    }

    #contact {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    #download {
        font-size: 2.4rem;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        line-height: 2.4rem;
        margin: 0;
        text-align: left;
    }

    #bottom {
        column-gap: 2rem;
        display: grid;
        grid-auto-columns: 2fr 1fr;
        justify-content: space-between;
    }

    #skills {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #education {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}
